<div class="jumbotron" style="        background-image: url(https://www.kansashealthsystem.com/-/media/Project/Website/Hero/COVID_19_iS1210596217_hero.jpg?h=586&w=1440&la=en&hash=3A4249B74E86D825663533596DB0C1E58E2E2115);">
    <h1>Covid-19 API</h1>
    <p class="lead" style="font-size: 15px; font-weight: bold;">Prepared by : KIRUBEL TOLOSA</p>
    <p class="lead" style="font-size: 15px; font-weight: bold;">Data Source :</p>
    <p class="lead" style="font-size: 15px;">COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University</p>    
    <p><a href="http://covidapi-env.eba-uiymmd7t.us-east-1.elasticbeanstalk.com/Help" class="btn btn-primary btn-lg">Documentation &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>URI Examples</h2>
        
        <p><a  href="http://covidapi-env.eba-uiymmd7t.us-east-1.elasticbeanstalk.com/api/covid">Resource list &raquo;</a></p>
        <p><a  href="http://covidapi-env.eba-uiymmd7t.us-east-1.elasticbeanstalk.com/api/covid/Confirmed_Cases">National count of {Confirmed_Cases} &raquo;</a></p>
        <p><a  href="http://covidapi-env.eba-uiymmd7t.us-east-1.elasticbeanstalk.com/api/covid/Confirmed_Cases/GlobalCount">Worldwide count of {Confirmed_Cases} &raquo;</a></p>
        <p><a  href="http://covidapi-env.eba-uiymmd7t.us-east-1.elasticbeanstalk.com/api/covid/Confirmed_Cases/US">Count of {Confirmed_Cases} in a {Nation} &raquo;</a></p>
        <p><a  href="http://covidapi-env.eba-uiymmd7t.us-east-1.elasticbeanstalk.com/api/covid/Confirmed_Cases/US/2020-05-02">Count of {Confirmed_Cases} in a {Nation} on a {Date} &raquo;</a></p>
        <p><a  href="http://covidapi-env.eba-uiymmd7t.us-east-1.elasticbeanstalk.com/api/covid/Confirmed_Cases/US/DailyCount">Daily Counts of {Confirmed_Cases} in a {Nation} &raquo;</a></p>

    </div>    
</div>
